$black: #2D2D2D;
$black2: #434343;
$green: #31D79B;
$gray: #A1A1A1;
$border: #5E5E5E;
$circle-bg: linear-gradient(180deg, #516FA5 0%, #31D79B 100%);

// colors dark mode
$blackExtra: #414141;

// fix this
// default white
$white: #fff;

// main background hover
$whiteHover: rgb(243, 241, 241);

// text grey
$textGrey: rgb(107, 114, 128);

// text light grey
$textLightGrey: #9CA3AF;

// text light grey 2
$textLightGrey2: #D1D5DB;
