@import 'default';

.app-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: $black2;
    overflow-x: auto;
}

* {
    color: #31d79b;
}

