@import 'default';

.app-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: rgb(34, 34, 34);
}

* {
    color: #31d79b;
}

